.WeatherForecast {
  text-align: center;
}

.WeatherForecast-day {
  color: black;
  font-weight: bolder;
}

.WeatherForecast canvas {
  margin: 5px 0;
}

.WeatherForecast-temperatures {
  color: black;
}

.WeatherForecast-temperature-max {
  margin-right: 3px;
}

.WeatherForecast-temperature-min {
  margin-left: 3px;
  opacity: 0.6;
}
